<h4>Listado de restaurantes</h4>
<div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <%= cl_image_tag restaurant.photo.key if restaurant.photo.attached?%>
        <div class="card-body">
          <h5 class="card-title"><%= restaurant.name %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

